@import "tailwindcss";


@theme {
    /* gray shades */
    --color-gray-150: #eeeeef ;
    --color-gray-250: #e6e9ed ;
    --color-gray-650: #95989c ;
    --color-gray-50: #191724f8 ;
/* purple shades */
    --color-purple-250: #d9ddee;
    --color-purple-550: #9492db;
    --color-purple-750: #7164c0;

}

*{
    scrollbar-width: thin;
}

.new{
    background-color: #191724f8;
}